<!DOCTYPE html>
<html>
<head>
    <title>gopi</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" sizes="196x196" href="/static/images/favicon.ico">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style/gopi.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:700,400">
    <link rel="stylesheet" href="/static/style/font-awesome.css">
</head>
<body>
<div class="container cf">
    <div class="cellophane cf">
        <div class="entity-container">
            <div class="entity-row with-space">
                <div class="full-cell form sub-heading"><a href="/">gopi</a></div>
            </div>
            <div class="entity-row">
                <button id="left_id" class="thirds">
                    <i class="fa fa-arrow-left fa-rotate-45"></i>
                </button>
                <button id="forward_id" class="thirds">
                    <i class="fa fa-arrow-up"></i>
                </button>
                <button id="right_id" class="thirds">
                    <i class="fa fa-arrow-up fa-rotate-45"></i>
                </button>
            </div>
            <div class="entity-row">
                <button id="rotate_left_id" class="thirds">
                    <i class="fa fa-rotate-left"></i>
                </button>
                <button id="stop_id" class="thirds">
                    <i class="fa fa-stop"></i>
                </button>
                <button id="rotate_right_id" class="thirds">
                    <i class="fa fa-rotate-right"></i>
                </button>
            </div>
            <div class="entity-row">
                <button id="back_left_id" class="thirds">
                    <i class="fa fa-arrow-down fa-rotate-45"></i>
                </button>
                <button id="back_id" class="thirds">
                    <i class="fa fa-arrow-down"></i>
                </button>
                <button id="back_right_id" class="thirds">
                    <i class="fa fa-arrow-right fa-rotate-45"></i>
                </button>
            </div>
            <div class="entity-row">
                <div class="third-cell">
                    <button id="speed_id" class="full">
                        <i class="fa fa-dashboard"></i>
                    </button>
                </div>
                <div class="slider-cell">
                    <input id="speed_slider_id" type="range" min="0" max="200" step="5" value="100"
                           onchange="$('#speed_label_id').html(this.value)"/>
                </div>
                <div id="speed_label_id" class="slider-label-cell big-formatted">
                    100
                </div>
            </div>
             <div class="entity-row">
                <div class="third-cell">
                    <button id="balance_id" class="full">
                        <i class="fa fa-balance-scale"></i>
                    </button>
                </div>
                <div class="slider-cell">
                    <input id="balance_slider_id" type="range" min="-5" max="5" step="1" value="0"
                           onchange="$('#balance_label_id').html(this.value)"/>
                </div>
                <div id="balance_label_id" class="slider-label-cell big-formatted">
                    0
                </div>
            </div>
             <div class="entity-row">
                <div class="third-cell">
                    <button id="distance_id" class="full">
                        <i class="fa fa-map-marker"></i>
                    </button>
                </div>
                <div class="slider-cell">
                    <input id="distance_slider_id" type="range" min="0" max="5" step="1" value="1"
                           onchange="$('#distance_label_id').html(this.value)"/>
                </div>
                <div id="distance_label_id" class="slider-label-cell big-formatted">
                    1
                </div>
            </div>
            <div class="entity-row">
                <button id="left_led_id" class="thirds">
                    <i class="fa fa-lightbulb-o"></i>
                </button>
                <button id="sonic_id" class="thirds">
                    <i class="fa fa-tripadvisor"></i>
                </button>
                <button id="right_led_id" class="thirds">
                    <i class="fa fa-lightbulb-o"></i>
                </button>
            </div>
            <div class="entity-row">
                <div class="third-cell">
                    <button id="servo_id" class="full">
                        <i class="fa fa-hand-spock-o"></i>
                    </button>
                </div>
                <div class="slider-cell">
                    <input id="servo_slider_id" type="range" min="30" max="150" step="10" value="90"
                            style="-webkit-transform: rotate(180deg); "
                           onchange="$('#servo_label_id').html(this.value)"/>
                </div>
                <div id="servo_label_id" class="slider-label-cell big-formatted">
                    90
                </div>
            </div>
            <div class="entity-row">
                <button id="motion_test_id" class="thirds">
                    <i class="fa fa-heart"></i>
                </button>
                <button id="reset_id" class="thirds">
                    <i class="fa fa-flash"></i>
                </button>
                <button id="battery_id" class="thirds">
                    <i class="fa fa-battery-half"></i>
                </button>
            </div>
            <div class="entity-row with-space">
                <div id="result_id" class="full-cell form sub-heading"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/script/jquery.min.js"></script>
<script>
$("#left_id").click(function(e){
    e.stopPropagation();
    $.get("/left", function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#forward_id").click(function(e){
    e.stopPropagation();
    $.get("/fwd", function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#right_id").click(function(e){
    e.stopPropagation();
    $.get("/right", function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#rotate_left_id").click(function(e){
    e.stopPropagation();
    $.get("/left_rot", function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#stop_id").click(function(e){
    e.stopPropagation();
    $.get("/stop", function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#rotate_right_id").click(function(e){
    e.stopPropagation();
    $.get("/right_rot", function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#back_id").click(function(e){
    e.stopPropagation();
    $.get("/bwd", function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#left_led_id").click(function(e){
    e.stopPropagation();
    $.get("/led_on/0", function(d){
        $("#result_id").html(d.return_value);
        $.get("/led_off/0", function(d){
            $("#result_id").html(d.return_value);
        });
    });
});
$("#right_led_id").click(function(e){
    e.stopPropagation();
    $.get("/led_on/1", function(d){
        $("#result_id").html(d.return_value);
        $.get("/led_off/1", function(d){
            $("#result_id").html(d.return_value);
        });
    });
});
$("#speed_id").click(function(e){
    e.stopPropagation();
    var s = $("#speed_slider_id").val();
    $.get("/set_speed/"+s, function(d){
        $("#result_id").html(d.return_value);
    });
});
$("#servo_id").click(function(e){
    e.stopPropagation();
    var s = $("#servo_slider_id").val();
    $.get("/servo/"+s, function(d){
        $("#result_id").html(d.return_value);
        window.setTimeout(function(){
            $.get("/us_dist/0", function(d){
                $("#result_id").html(d.return_value+" cm");
            });
        }, 1000);
    });
});
$("#sonic_id").click(function(e){
    e.stopPropagation();
    $.get("/us_dist/0", function(d){
        $("#result_id").html(d.return_value+" cm");
    });
});
$("#battery_id").click(function(e){
    e.stopPropagation();
    $.get("/volt", function(d){
        $("#result_id").html(d.return_value+" V");
    });
});
$("#reset_id").click(function(e){
    e.stopPropagation();
    $.get("/servo/90", function(d){
        $("#result_id").html(d.return_value);
        $.get("/set_speed/100", function(d){
            $("#servo_slider_id").val(90);
            $("#servo_label_id").html("90");
            $("#speed_slider_id").val(100);
            $("#speed_label_id").html("100");
            $("#result_id").html("device reset");
        });
    });
});
$("#motion_test_id").click(function(e){
    e.stopPropagation();
    var self = this;
    $.get("/enc_read/0", function(d){
        var left_start = d.return_value;
        $.get("/enc_read/1", function(d){
            var right_start = d.return_value;
            $.get("/fwd", function(d){
                window.setTimeout(function(){
                    $.get("/stop", function(d){
                        $.get("/enc_read/0", function(d){
                            var left_stop = d.return_value;
                            $.get("/enc_read/1", function(d){
                                var right_stop = d.return_value;
                                $("#result_id").html(
"<table style='width:100%'>" +
"<tr><td></td><td>left</td><td>right</td></tr>" +
"<tr><td>start</td><td>"+left_start+"</td><td>"+right_start+"</td></tr>" +
"<tr><td>stop</td><td>"+left_stop+"</td><td>"+right_stop+"</td></tr>" +
"<tr><td>delta</td><td>"+(left_stop-left_start)+"</td><td>"+(right_stop-right_start)+"</td></tr>" +
"</table>"
                                );
                            });
                        });
                    });
                },5000);
            });
        });
    });
});
$("#distance_id").click(function(e){
    e.stopPropagation();
    var s = parseInt($("#distance_slider_id").val());
    var e = s*54;
    if(s>0){
        $.get("/enc_tgt/1/1/"+e, function(d){
            $("#result_id").html(d.return_value);
            $.get("/fwd", function(d){
                $("#result_id").html(d.return_value);
            });
        });
    }else{
        $.get("/enc_tgt/0/0/0", function(d){
            $("#result_id").html(d.return_value);
        });
    }
});
$("#balance_id").click(function(e){
    e.stopPropagation();
    var s = parseInt($("#speed_slider_id").val());
    var rs = s + (parseInt($("#balance_slider_id").val())*2);
    $.get("/set_right_speed/"+rs, function(d){
        $("#result_id").html(d.return_value);
        $.get("/set_left_speed/"+s, function(d){
            $("#result_id").html(d.return_value);
        });
    });
});

</script>
</body>
</html>